<template>
    <div class="grid__item">
        <div class="grid__header">
            <h3>Отдаете</h3>
            <div class="grid__form">
                <label class="grid__label">
          <span class="grid__icon">
            <img src="@/assets/img/search.svg" alt=""/>
          </span>
                    <input
                            v-model="searchText"
                            type="text"
                            class="grid__input"
                            placeholder="Поиск валюты"
                            @input="searchFunc"
                    />
                </label>
            </div>
        </div>
        <div class="grid__body" v-if="fullData">
            <div class="grid__list">
                <div v-for="(item, i) in searchText.length > 0 ? searchResult : fullData" :key="i">
                    <input
                            v-model="currency"
                            type="radio"
                            :name="itemType"
                            :value="item.id"
                            :id="`${itemType}-${item.id}`"
                            @change="this.$emit('changeData', item.id)"
                    />
                    <label :for="`${itemType}-${item.id}`" class="grid__list__item">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="26" height="26" rx="5" transform="matrix(-1 0 0 1 26 0)" fill="#0060F7"/>
                            <path
                                    d="M14.3333 15.6667L17 13M17 13L14.3333 10.3333M17 13H9"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </svg>
                        <img :src="item.logo.simple" alt="" class="grid__list__item-icon"/>

                        <span class="grid__list__item-name">
              {{ item.currency[0] }}
              <span class="title">{{ item.name }}</span>
            </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "GiveComponent",
    props: {
        itemType: String,
        fullData: {
            type: Array,
        },
    },
    data() {
        return {
            searchResult: [],
            searchText: '',
            currency: null,
        }
    },
    methods: {
        searchFunc() {
            this.searchResult = this.fullData.filter(el => el.currency[0].includes(this.searchText))
        },
    }
};
</script>
