<template>
    <div class="grid__form grid__details">
        <h2>Ваши реквизиты</h2>
        <label class="grid__label">
                            <span class="grid__icon">
                                <img src="@/assets/img/avatar.svg" alt="">
                            </span>
            <input type="text" class="grid__input" placeholder="ФИО Получателя">
        </label>
        <label class="grid__label">
                            <span class="grid__icon">
                                <img src="@/assets/img/mail.svg" alt="">
                            </span>
            <input type="email" class="grid__input" placeholder="Почта получателя">
        </label>

        <input type="checkbox" id="agree" class="grid__checkbox">
        <label for="agree" class="grid__label-checkbox">
            <span></span>
            <div class="text">Я согласен с
                <NuxtLink to="/">обработкой персональных данных</NuxtLink>
                и принимаю
                <NuxtLink to="/">правила обмена</NuxtLink>
            </div>
        </label>
    </div>
</template>

<script>
export default {
    name: "GridForm"
}
</script>

<style scoped>

</style>
