<template>
    <main class="main">
        <div class="grid">
            <GiveComponent :fullData="giveData" itemType="give" @changeData="getDefaultData"/>
            <GiveComponent :fullData="getData" itemType="get" @changeData="sendResultRequest"/>

            <ResultComponent :defaultData="defaultData" :currency="currency" v-if="result" :result="result"/>
        </div>
    </main>
</template>

<script>
export default {
    name: "MainComponent",
    data() {
        return {
            defaultData: null,
            giveData: [],
            getData: [],
            search: {
                give: '',
                get: ''
            },
            result: null,
            currency: {
                give: '',
                get: '',
            }
        }
    },
    computed: {},
    methods: {
        defaultDataRequest() {
            fetch('https://dev7d8d3h4.sova.gg/api/v1/calculator/')
                .then(response => response.json())
                .then(data => {
                    this.defaultData = data;
                    this.giveDataRequest()
                })
                .catch(error => {
                    console.error('Ошибка при выполнении запроса:', error);
                });
        },
        giveDataRequest() {
            fetch('https://dev7d8d3h4.sova.gg/api/v1/calculator/from/')
                .then(response => response.json())
                .then(data => {
                    this.giveData = []
                    data.forEach((el) => {
                        let item = this.defaultData.find(i => i.ids.includes(el))
                        item.id = el
                        if (!(this.giveData.includes(item))) {
                            this.giveData.push(item)
                        }

                    })
                })
                .catch(error => {
                    console.error('Ошибка при выполнении запроса:', error);
                });
        },
        getDefaultData(id) {
            this.currency.give = id
            fetch(`https://dev7d8d3h4.sova.gg/api/v1/calculator/from/${this.currency.give}/`)
                .then(response => response.json())
                .then(data => {
                    this.getData = []
                    data.forEach((el) => {

                        let item = this.defaultData.find(i => i.ids.includes(el))
                        item.id = el
                        if (!(this.getData.includes(item))) {
                            this.getData.push(item)
                        }
                    })
                    this.sendResultRequest()
                })
                .catch(error => {
                    console.error('Ошибка при выполнении запроса:', error);
                });

        },
        sendResultRequest(id) {
            this.currency.get = id
            if (this.currency.get > 0 && this.currency.give > 0) {
                fetch(`https://dev7d8d3h4.sova.gg/api/v1/calculator/pair/${this.currency.give}/${this.currency.get}/`)
                    .then(response => response.json())
                    .then(data => {
                        this.result = data
                    })
                    .catch(error => {
                        console.error('Ошибка при выполнении запроса:', error);
                    });
            }
        },
    },
    mounted() {
        this.defaultDataRequest()
    },
}
</script>

<style scoped>

</style>
