<template>
    <div class="grid__item">
{{result.course}}
        <div class="grid__body">
            <div class="grid__give">
                <h4 class="grid__title">Отдаете</h4>
                <div class="grid__block" v-if="giveItem">
                    <img :src="giveItem.logo.simple" alt="" class="icon">
                    <div class="title">{{ giveItem.name }}</div>
                    <input type="text" v-model="giveValue" @input="calcValue">
                </div>
                <div class="grid__values">
                    <div class="min">Мин: {{ result.from?.min }} <span>{{ giveItem.currency[0] }}</span></div>
                    <div class="max">Макс: {{ result.from?.max }} <span>{{ giveItem.currency[0] }}</span></div>
                </div>
            </div>
            <div class="grid__give" v-if="getItem">
                <h4 class="grid__title">Получаете</h4>
                <div class="grid__block">
                    <img :src="getItem.logo.simple" alt="" class="icon">
                    <div class="title">{{ getItem.name }}</div>
                    <div class="price">{{ getValue }}</div>
                </div>
                <div class="grid__values">
                    <div class="min">Мин: {{ result.to?.min }} <span>{{ giveItem.currency[0] }}</span></div>
                    <div class="max">Макс: {{ result.to?.max }} <span>{{ giveItem.currency[0] }}</span></div>
                </div>
            </div>
            <GridForm/>
        </div>
    </div>
</template>

<script>
export default {
    name: "ResultComponent",
    props: ['result', 'defaultData', 'currency'],
    data() {
        return {
            giveValue: 0,
            getValue: 0,
        }
    },
    computed: {
        giveItem() {
            return this.defaultData.find(item => item.ids.includes(this.currency.give))
        },
        getItem() {
            return this.defaultData.find(item => item.ids.includes(this.currency.get))
        },
    },
    methods: {
        calcValue() {
            this.getValue = (this.giveValue * this.result.course).toFixed(4)
        },
    },
    mounted() {
        this.calcValue()
    },
    watch: {
        result() {
            this.calcValue()
        }
    }
}
</script>

<style scoped>

</style>
