@import "assets/fonts/stylesheet";

body {
  background-color: #0C0C0C;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Gilroy, sans-serif;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  column-gap: 24px;
  min-height: 100vh;
  padding: 120px 40px;
}

.grid__header {
  background: #1D1E25;
  padding: 30px;

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
}

.grid__item {
  background-color: #16171C;
  flex: 0 0 530px;
  max-width: 530px;
}

.grid__body {
  padding: 30px 15px 30px 30px;
}

.grid__input {
  height: 54px;
  background: #16171C;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 55px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.grid__label {
  position: relative;
  display: block;
  width: 100%;
}

.grid__icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 17px 15px 17px 20px;

  img {
    width: 20px;
    height: 20px;
  }
}

.grid__list {
  max-height: calc(100vh - 300px - 168px);
  min-height: 400px;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 96, 247, 0.2);
    border-radius: 20px;
    width: 3px;
  }

  input {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked ~ .grid__list__item {
      padding: 8px 13px;
      height: 52px;
      background: #1D1E25;
      border-radius: 7px;

      svg {
        flex: 0 0 26px;
        max-width: 26px;
      }
    }
  }
}

.grid__list__item {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  margin-bottom: 8px;
  transition: 0.2s;
  cursor: pointer;

  svg {
    transition: 0.3s;
    flex: 0 0 0;
    max-width: 0;
  }
}

.grid__list__item-icon {
  height: 24px;
  flex: 0 0 24px;
}

.grid__list__item-name {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  flex: 0 0 auto;
  text-transform: uppercase;

  .title {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #757981;
  }
}

.grid__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.grid__block {
  display: grid;
  align-items: center;
  grid-template-columns: 32px auto 1fr;
  padding: 10px 10px 10px 20px;
  gap: 20px;
  height: 52px;
  background: #1D1E25;
  border-radius: 7px;
  margin-bottom: 10px;

  .icon {
    width: 100%;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  input, .price {
    text-align: right;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.grid__values {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 24px;

  div {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #757981;
  }

  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #757981;
    text-transform: uppercase;
  }
}

.grid__details {
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }

  .grid__label {
    margin-bottom: 20px;

  }

  input {
    height: 64px;
    background: #1D1E25;
    border-radius: 7px;
  }

  .grid__icon {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.grid__checkbox {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.grid__checkbox:checked ~ .grid__label-checkbox {
  span {
    &:before {
      content: '';
      width: 14px;
      display: block;
      border-radius: 2px;
      height: 14px;
      background-color: #0060F7;
    }
  }
}

.grid__label-checkbox {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 20px;

  span {
    padding: 3px;
    display: block;
    background: transparent;
    flex: 0 0 24px;
    height: 24px;
    border: 2px solid #0060F7;
    border-radius: 5px;
  }

  .text {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #8F939B;

    a {
      font-size: 15px;
      line-height: 17px;
      color: #0060F7;
    }
  }
}
